<div class="col-span-1 md:col-span-1">
    <div class="bg-gray-200 p-4 rounded-lg shadow-md">
        <h3 class="text-lg font-bold mb-4">MENU</h3>
        <ul>
            <li>
                <a href="/my_rooms/create" class="block py-2 px-4 text-gray-800 hover:bg-gray-300 hover:text-blue-700 rounded transition duration-300">Đăng tin</a>
            </li>
            <li>
                <a href="/my_rooms/" class="block py-2 px-4 text-gray-800 hover:bg-gray-300 hover:text-blue-700 rounded transition duration-300">Danh sách tin</a>
            </li>
            <li>
                <a href="/logout" class="block py-2 px-4 text-gray-800 hover:bg-gray-300 hover:text-blue-700 rounded transition duration-300">Đăng xuất</a>
            </li>
        </ul>
    </div>
</div>