<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body class="bg-gray-100 flex justify-center items-center h-screen">
  <div class="bg-white p-8 rounded shadow-md max-w-md w-full">
    <h2 class="text-3xl font-semibold mb-6 text-center">Đăng nhập</h2>
    <form id="login-form" class="space-y-4">
      <div>
        <label for="phone_number" class="block text-sm font-medium text-gray-700">Số điện thoại</label>
        <input type="text" id="phone_number" name="phone_number" class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:border-blue-500" required>
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Mật khẩu</label>
        <input type="password" id="password" name="password" class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:border-blue-500" required>
      </div>
      <div>
        <button id="login-button" type="button" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Đăng nhập</button>
      </div>
      <div class="text-center">
        <a href="/register" class="text-blue-500 hover:underline">Chưa có tài khoản? Đăng ký ngay!</a>
      </div>
    </form>
  </div>

  <script>
    document.getElementById('login-button').addEventListener('click', async () => {
      const phoneNumber = document.getElementById('phone_number').value;
      const password = document.getElementById('password').value;
      if (!phoneNumber || !password) {
        toastr.error('Vui lòng nhập đầy đủ thông tin.');
        return;
      }
      try {
        const response = await fetch('/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            phone_number: phoneNumber,
            password: password
          })
        });
        
        if (response.ok) {
          const responseData = await response.json();
          toastr.success('Đăng nhập thành công');
          window.location.href = "/";
        } else {
          const errorData = await response.json();
          toastr.error('Đăng nhập không thành công: ' + errorData.message);
        }
      } catch (error) {
        toastr.error('Đã có lỗi xảy ra: ' + error);
      }
    });
  </script>
  
</body>
</html>
